body {
    direction: rtl;
    background-image: url(../../assets/enter/Rectangle\ 27.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#form {
    display: flex;
    flex-direction: column;
    padding-bottom: 6%;
    padding-top: 5%;
    width: 25%;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 69px;
    background: linear-gradient(141deg, #FFFFFF40, #AE1C9430, #9D36AE9E, #9148C11F, #FFFFFF26);
    box-shadow: 0px 0px 21px 0px #BD29A9;
    backdrop-filter: blur(23.5px);
    margin-top: 10%;
    margin-right: 35.5%;
    border: 2px solid;
    border-image-source: linear-gradient(156.62deg, rgba(255, 255, 255, 0.25) -10.27%, rgba(174, 28, 148, 0.19) 27.22%, rgba(157, 54, 174, 0.62) 152.18%, rgba(145, 72, 193, 0.12) 160.99%, rgba(255, 255, 255, 0.15) 222.9%),
        linear-gradient(183.54deg, rgba(255, 255, 255, 0.624) -79.44%, rgba(255, 255, 255, 0.624) -12.99%, rgba(110, 14, 117, 0.256) 64.64%, rgba(255, 255, 255, 0.8) 105.98%);
}

#title {
    text-align: center;
    color: #0FF;
    font-family: Rubik;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

#afterTitle {
    color: #0FF;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#password {
    width: 178px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 62px;
    background: rgba(255, 255, 255, 0.39);
    color: #373737;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#enter {
    margin-right: 10%;
    color: white;
    border-radius: 69px;
    background: linear-gradient(rgba(169, 242, 242), rgba(255, 255, 255, 0.13) 0%, rgba(174, 28, 148, 0.09) 15.04%, rgba(157, 54, 174, 0.31) 65.14%, rgba(145, 72, 193, 0.06) 68.68%, rgba(255, 255, 255, 0.08) 93.50%);
    mix-blend-mode: hard-light;
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 7px 45px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: rgb(164, 7, 164) solid;
}

#enter:hover {
    border-radius: 69px;
    background: linear-gradient(rgba(169, 242, 242), rgba(255, 255, 255, 0.25) 0%, rgba(174, 28, 148, 0.19) 15.04%, rgba(157, 54, 174, 0.62) 65.14%, rgba(145, 72, 193, 0.12) 68.68%, rgba(255, 255, 255, 0.15) 93.50%);
    box-shadow: 0px 0px 21px 0px #0FF;
    display: inline-flex;
    padding: 7px 45px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #73DEFF;
    text-align: center;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    mix-blend-mode: hard-light;
}

#question {
    margin-top: 3%;
    color: #FFF;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#connection {
    color: #FFF;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
}

@media screen and (min-width:200px) and (max-width:900px) {
    body {
        direction: rtl;
        background-image: url(../../assets/enter/מובייל.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    #form {
        display: flex;
        flex-direction: column;
        padding-bottom: 6%;
        padding-top: 5%;
        width: 70%;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 69px;
        background: linear-gradient(141deg, #FFFFFF40, #AE1C9430, #9D36AE9E, #9148C11F, #FFFFFF26);
        box-shadow: 0px 0px 21px 0px #BD29A9;
        backdrop-filter: blur(23.5px);
        margin-top: 15%;
        margin-right: 15%;
        border: 2px solid;
        border-image-source: linear-gradient(156.62deg, rgba(255, 255, 255, 0.25) -10.27%, rgba(174, 28, 148, 0.19) 27.22%, rgba(157, 54, 174, 0.62) 152.18%, rgba(145, 72, 193, 0.12) 160.99%, rgba(255, 255, 255, 0.15) 222.9%),
            linear-gradient(183.54deg, rgba(255, 255, 255, 0.624) -79.44%, rgba(255, 255, 255, 0.624) -12.99%, rgba(110, 14, 117, 0.256) 64.64%, rgba(255, 255, 255, 0.8) 105.98%);
    }
    #img{
        background-image: url(../../assets/enter/תמונה\ למובייל.png);
        background-repeat: no-repeat;
          height:100px;
        width: 88%;
        margin-top: 20%;
          }
    
}